.MMM-OdessaEvents ul.events {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 200px;
}


.MMM-OdessaEvents li.event {
  float: left;
  margin-right: 15px;
}


.MMM-OdessaEvents .poster-box {
  position: relative;
}


.MMM-OdessaEvents .desc {
  position: absolute;
  display: block !important;
  bottom: 12px;
  left:0;
  right:0;
  background-color: rgba(10, 10, 10, 0.72);
  line-height: 0.5em;
  /*filter: blur(5px);*/
}

.MMM-OdessaEvents .poster-box .line1 {
  font-size:15px;line-height:1.1em;
}
.MMM-OdessaEvents .poster-box .line2 {
  font-size:13px;line-height:1.1em;
}

.MMM-OdessaEvents .desc ul {
  width: 158px;
  font-size: 12px;
  list-style: none;

  line-height: 1.5em;
  padding-left: 5px;
}

